@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@300&display=swap');

*{
    scroll-behavior: smooth;
    font-family: 'Bebas Neue', cursive;
    margin: 0;
    padding: 0;
}

#particles-js{
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
}
.marco{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.678);
    margin: 50px auto;
    padding: 40px;
    width: 50%;
}
#nav-container{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
}
#nav{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
#about{
    color: white;
    text-align: center;
}
h3{
    padding-top: 60px;
    font-size: 40px;
}

li{
    margin: 10px 10px;
    border: 1px solid white;
    display: flex;
    flex-direction: row;
}
a{
    font-family: 'Oswald', sans-serif;
    padding: 10px 50px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(0, 255, 179);
    width: 100%;
    text-align: center;
}
a:hover{
    color: black;
    background-color: #00ffb3;
}


.logos{
    width: 120px;
    margin: 10px;
}

.container{
    justify-content: center ;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}


@media (max-width:800px){

    #nav{
        flex-direction: column;
    }
    .logos{
        width: 100px;
    }
    .marco{
        width: 70%;
    }
}