@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');

*{
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

#particles-js{
    background:linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.658)),url(../img/hero2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
}

.marco{
    border: 1px solid rgb(0, 255, 179);
    background-color: rgba(0, 0, 0, 0.644);
    margin: 50px auto;
    padding: 40px;
    width: 90%;
}

#nav-container{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
}
#nav{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
.item-container{
    margin: 10px;
    display: flex;
    border: 1px solid rgb(0, 255, 179);
    flex-direction: row;
}
li a{
    font-family: 'Oswald', sans-serif;
    padding: 10px 50px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
li a:hover{
    color: black;
    background-color: #00ffb3;
}


h3{
    padding: 60px 0 80px 0;
    font-size: 40px;
    color: white;
    text-align: center;
}
.redes{
    display: flex;
    height: 30vh;
}

ul {
    position:absolute;
    top:500px;
    left:50%;
    width: 100%;
    justify-content: center;
    transform:translate(-50%, -50%);
    display:flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
  }
  
  ul li {
    list-style:none;
    margin:0 5px;
  }
  
  ul li a .fa {
    font-size: 40px;
    color: #262626;
    line-height:80px;
    transition: .5s;
    padding-right: 14px;
  }
  
  ul li a span {
    padding:0;
    margin:0;
    position:absolute;
    top: 30px;
    color: #262626;
    letter-spacing: 4px;
    transition: .5s;
  }
  
  ul li a {
    text-decoration: none;
    display:absolute;
    display:block;
    width:210px;
    height:80px;
    background: rgb(0, 255, 179);
    text-align:left;
    padding-left: 20px;
    transform: rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow: -20px 20px 10px rgba(0,0,0,.5);
  }
  ul li a:before {
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width:20px;
    background: rgb(1, 138, 97);
    transform: .5s;
    transform: rotate(0deg) skewY(-45deg);
  }
  ul li a:after {
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width:100%;
    background: rgb(85, 255, 204);
    transform: .5s;
    transform: rotate(0deg) skewX(-45deg);
  }
  
  ul li a:hover {
    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
  }
  
  ul li:hover .fa {
    color:#fff;
  }
  
  ul li:hover span {
    color:#fff;
  }
  
  ul li:hover:nth-child(1) a{
    background: #3b5998;
  }
  ul li:hover:nth-child(1) a:before{
    background: #365492;
  }
  ul li:hover:nth-child(1) a:after{
    background: #4a69ad;
  }
  
  ul li:hover:nth-child(2) a{
    background: #3b3b3b;
  }
  ul li:hover:nth-child(2) a:before{
    background: #202020;
  }
  ul li:hover:nth-child(2) a:after{
    background: #949494;
  }
  
  ul li:hover:nth-child(3) a{
    background: #005bc4;
  }
  ul li:hover:nth-child(3) a:before{
    background: #004a8f;
  }
  ul li:hover:nth-child(3) a:after{
    background: #007aec;
  }
  
  ul li:hover:nth-child(4) a{
    background: #e4405f;
  }
  ul li:hover:nth-child(4) a:before{
    background: #d81c3f;
  }
  ul li:hover:nth-child(4) a:after{
    background: #e46880;
  }

@media (max-width:1200px){
    .redes{
        height: 60vh;
    }
    ul{
        top: 700px;
    }
    ul li{
        margin: 40px 20px;
    }
}
@media (max-width:767px){
    #nav{
        flex-direction: column;
    }
    .marco{
        width: 70%;
    }
    .redes{
        height: 140vh;
    }
    ul{
        top:1000px;
    }
    ul li{
        margin-bottom: 60px;
    }
}