@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300&display=swap');


*{
    scroll-behavior: smooth;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}

#particles-js{
    background:linear-gradient(rgba(0, 0, 0, 0.685),rgba(0, 0, 0, 0.658)),url(../img/hero2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -10;
}

.marco{
    border: 1px solid rgb(0, 255, 179);
    background-color: rgba(0, 0, 0, 0.644);
    margin: 50px auto;
    padding: 40px;
    width: 90%;
}

#nav-container{
    display: flex;
    margin: auto;
    justify-content: center;
    flex-direction: row;
}
#nav{
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
}
li{
    margin: 10px 10px;
    border: 1px solid rgb(0, 255, 179);
    display: flex;
    flex-direction: row;
}
#nav a{
    padding: 10px 50px;
    font-size: 40px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: 100%;
    text-align: center;
}
#nav a:hover{
    color: black;
    background-color: #00ffb3;
}

h2,p{
    padding: 60px 0;
    font-size: 40px;
    color: white;
    text-align: center;
}
.info{
    padding: 0;
    margin: 0;
    margin: 2.5px 5px;
}
p{
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
    background-color: #00ffb3;
    border: 2px solid rgb(255, 255, 255);

}
.contenedor-works{
    padding-top: 40px;
    width: 80%;
    height: 150vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    justify-items: center;
}

.i1{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: rgb(0, 255, 179);
    box-shadow: 0 0 5px 2px rgb(0, 255, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: handingRotate 3s linear infinite;
}


.i1::after{
    content: '';
    position: absolute;
    top: 5px;
    left: 2px;
    background-color: rgb(0, 255, 179);
    height: 50px;
    width: 5px;
    z-index: -1;
}

.i1::before{
    content: '';
    position: absolute;
    top: 5px;
    right: 2px;
    background-color: rgb(0, 255, 179);
    height: 50px;
    width: 5px;
    z-index: -1;
}

.handing-image{
    height: 360px;
    width: 250px;
    text-align: center;
    z-index: 10;
    border: 2px solid rgb(0, 255, 179);
    border-radius: 13px;
    margin-top: 3rem;
}

.handing-image img{
    height: 200px;
    width: 250px;
    transition: 0.2s;
    border-radius: 10px;
}
.handing-image a{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    padding: 5px 90px 2px;
    border-radius: 10px;
}
.handing-image a:hover{
    background-color: rgb(0, 255, 179);
    color: black;
}

@keyframes handingRotate{
    0%,
    100%{
        transform: rotate(5deg);
    }
    25%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(-5deg);
    }
}

@media(max-width:1071px){
    .contenedor-works{
        width: 100%;
        height: 1800px;
        grid-template-columns: repeat(2,1fr);
    }
}

@media(max-width:768px){
    .contenedor-works{
        grid-template-columns: 1fr;
        height: 2800px;
    }
}



@media (max-width:800px){
    #nav{
        flex-direction: column;
    }
    .marco{
        width: 70%;
    }
}
