@import url('https://fonts.googleapis.com/css2?family=Oswald&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
}
main{
    border-bottom: 1px solid gray;
}

h1,p{
    color: white;
    font-size: 80px;
    display: block;
    text-align: center;
    font-family: 'VT323', monospace;
    font-weight: 100;
    padding-top: 40px;
}
p{
    font-size: 60px;
    margin-bottom: 5vh;

}

.logos-cont{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    max-width: 800px;
    margin: auto;
    height: 70vh;
    justify-items: center;
    align-content: center;
    grid-gap: 20px;
}

.logos{
    display: flex;
    width: 150px;
}



.nav-container{
    justify-content: space-between;
    display: grid;
    margin-left: 7vh;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7vh;
    margin-bottom: 100px;
    margin-top: 100px;
}
.nav-container a {
    background-color: #222;
    display: grid;
    padding: 16vh;
    font-size: 60px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-family: 'VT323', monospace;
    justify-content: center;
    box-shadow: 15px 15px 20px black;
}


.nav-container a:hover{
    background-color: #444;
    transform: scale(1.1);
    transform: rotate(10deg);
}


@media (max-width:1200px){
    .nav-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:866px){  
    h1{
        font-size: 8vh;
    }
    p{
        font-size: 5vh;
        margin-bottom: 40px;
    }
    .nav-container{
        grid-template-columns: 1fr;
        grid-gap:0;
        margin: auto;
        margin-top: 100px;
        padding: 0;
    }
    .logos-cont{
        grid-template-columns: repeat(2,1fr);
        margin: 10px;
        grid-gap:10px;
    }
    .logos{
        width: 150px;
    }
    .nav-container{
        grid-template-columns: 1fr;
        grid-gap:0;
        margin: auto;
        margin-top: 100px;
        padding: 0;
        margin-bottom: 30px;
    }
    .nav-container a{
        padding: 10vh;
        margin-bottom: 30px;
    }
}
