* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: whitesmoke;
}
.nav-container {
    position: fixed;
    background: linear-gradient(45deg, white, #333);
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 0 8px #000;
    border-radius: 5px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    min-height: 70px;

}

.contflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contflex a {
    text-decoration: none;
}
nav p {
    font-size: 19px;
    color: #000;
    text-shadow: 0 0 2px grey;
    margin-left: 10px;
}

.item-container {
    display: flex;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    padding: 15px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-item:hover {
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    box-shadow: 0 0 0 white;
}

.textologo {
    display: flex;
    color: white;
}
.logo {
    display: flex;
    width: 60px;
    margin-left: 30px;
}


.menu-icon img {
    width: 30px;
}

@media (max-width:700px) {
    nav{
        flex-direction: column;
    }
    .nav-item:hover{
        text-decoration: underline;
    }
    nav ul{
        padding: 14px 0px;
    }
}


.hero{
    font-family: 'Rubik Microbe', cursive;
    display: flex;
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url(imagenes/hero2.jpg);
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    text-shadow: 0 0 5px black;
    
}

.perfil{
    background: linear-gradient(lightgray, black);
    line-height: 25vh;
}


.perfil h2 {
    color: white;
    text-shadow: 0 0 3px black;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 43px;
    padding-top: 30px;
}

.perfil p {
    color: white;
    text-shadow: 0 0 3px black;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 34px;
}
.perfil a{
    text-decoration: none;
    color: #000;
}
.perfil a p:hover{
    color: blue;
}

.trabajos h3{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    line-height: 100vh;
    font-size: 65px;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
        )
    ,url(imagenes/fondo-trabajos.jpg);
    color: white;
    text-shadow: 0 0 3px black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-carta{
    background: linear-gradient(45deg,whitesmoke,#333 );
    text-align: center;
    color: white;
    padding: 100px 20px;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: repeat(2, 47%);
    grid-gap: 10px;
}

.carta img {
    justify-content: center;
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px;
}


@media (min-width:700px) {
    .container-carta{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 33%);
        grid-gap: 10px;
        margin: 0;
    }
}
