@import url('https://fonts.googleapis.com/css2?family=Oswald&family=VT323&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #111;
}



#works{
    height: auto;
    padding-bottom: 90px;
}
h1,p{
    font-size: 100px;
    color: white;
    font-family: 'VT323', monospace;
    margin: auto;
    text-align: center;
    padding-top: 15vh;
    font-weight: 100;
    display: block;
    width: 70%;
    margin: auto;
}
p{
    font-size: 30px;
    padding-top: 2vh;
}


#img-works{
    border-bottom: 1px solid gray;
}
.container-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    margin: auto;
    padding-bottom: 100px;
    grid-gap: 10px;

}
.works{
    width: 60vh;
    height: 55vh;
}

.container-img a:hover{
    transform: scale(1.05);
}




.nav-container{
    justify-content: space-between;
    display: grid;
    margin-left: 5vh;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 7vh;
    margin-bottom: 100px;
    margin-top: 100px;
}
.nav-container a {
    background-color: #222;
    display: grid;
    padding: 16vh;
    font-size: 60px;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    font-family: 'VT323', monospace;
    justify-content: center;
    box-shadow: 15px 15px 20px black;
}
.nav-container a:hover{
    background-color: #444;
    transform: scale(1.1);
    transform: rotate(10deg);
}

@media (max-width:1200px){  
    .container-img{
        grid-template-columns: repeat(2,1fr);
    }
    .nav-container{
        grid-template-columns: repeat(2,1fr);
        margin:auto;
        margin-top: 80px;
        margin-left: 6%;
    }
}
@media (max-width:866px){
    .container-img{
        grid-template-columns: 1fr;
        margin: auto;
        padding-bottom: 70px;
        justify-items: center;
    }
    .works{
        width: 42vh;
        height:35vh;
    }
    #works, h1, p{
        font-size: 70px;
        width: 100%;
        text-align: center;
    }
    #works p {
        font-size: 26px;
    }
    .nav-container{
        grid-template-columns: 1fr;
        grid-gap:0;
        margin: auto;
        margin-top: 100px;
        margin-bottom: 40px;
        padding: 0;
    }
    .nav-container a{
        padding: 10vh;
        margin-bottom: 30px;
    }
}